/* Navbar */
.chainboard-dot {
    display: block;
    width: 8px;
    height: 8px;
    background-color: #f2504b;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.chainboard-button {
    height: 48px;
    background-color: #f2504b;
}

/* Hero */
@media screen and (min-width: 600px) {
    .chainboard-hero-bg {
        background-image: url('./img/hero/chainboard-rediscover-world-400px.jpg');
    }    
}

@media screen and (min-width: 768px) {
    .chainboard-hero-bg {
        background-image: url('./img/hero/chainboard-rediscover-world-800px.jpg');
    }    
}

@media screen and (min-width: 1110px) {
    .chainboard-hero-bg {
        background-image: url('./img/hero/chainboard-rediscover-world.jpg');
    }    
}

/* BSC */
.chainboard-bsc-text {
    letter-spacing: 0.55em;
}

.chainboard-bsc-logo {
    width: 195px;
    height: auto;
}